/************************************promos-and-shares************************************/
.promo-and-shares {
	margin: 20px 0;
}
.promo {
	border: solid 10px #71a2c2;
	border-radius: 5px;
	float: left;
	position: relative;
}	
.poster {
	overflow: hidden;
}
.promo__viewPort {
	width: 500%;
}
.promo__toggle {
	position: absolute;
	bottom: -30px;
	left: 10px;
}
.promo__btn-x {
	display: inline-block;
	width: 20px;
	height: 22px;
	border-radius: 0 0 4px 4px;
	background: #71a2c2;
	color: white;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	padding-top: 4px;
	border: solid 2px #71a2c2;
	border-top-color: transparent;
	line-height: 18px;
}
.promo__btn-x:hover,
.promo__btn-x:checked{
	background: #ffffff;
	color: #000000;
}
.promo__btn-link {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 30px;
	border: 1px #6d6d6d groove;
	border-radius: 4px; /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20c0cd), color-stop(34%, #42589D), color-stop(62%, #5e0477), color-stop(100%, #5e0477)); /* safari4+,chrome */
	background: -webkit-linear-gradient(290deg, #20c0cd 0%, #42589D 34%, #5e0477 62%, #5e0477 100%); /* safari5.1+,chrome10+ */ /* opera 11.10+ */ /* ie10+ */
	background: -moz-linear-gradient(290deg, #20c0cd 0%, #42589D 34%, #5e0477 62%, #5e0477 100%);
	background: -o-linear-gradient(290deg, #20c0cd 0%, #42589D 34%, #5e0477 62%, #5e0477 100%);
	background: -ms-linear-gradient(290deg, #20c0cd 0%, #42589D 34%, #5e0477 62%, #5e0477 100%);
	background: linear-gradient(160deg, #20c0cd 0%, #42589D 34%, #5e0477 62%, #5e0477 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20c0cd', endColorstr='#5e0477',GradientType=0 ); /* ie6-9 */
}
.promo__inp {
	display: none;
}
.promo__pic {
	width: 20%;
	height: 240px;
	display: block;
	float: left;
	background-size: cover;
}
.promo__pic__all {
	margin: 7px 0 0 30px;
	padding-right: 40px;
}
.promo__pic__text {
	margin: 10px 0;
}
.promo__pic:nth-child(1) {
	background: #ffffff url("../images/slide_big.jpg") no-repeat;
	background-size: cover
}
.promo__pic:nth-child(2) {
	background: #ffffff url("../images/slide_big_2.jpg") no-repeat;
	background-size: cover
}
.promo__pic:nth-child(3) {
	background: #ffffff url("../images/slide_big_3.jpg") no-repeat;
	background-size: cover
}
.promo__pic:nth-child(4) {
	background: #bbbbbb;
	background-size: cover
}
.promo__pic:nth-child(5) {
	background: #eeeeee;
	background-size: cover
}
.promo__inp:nth-child(1):checked ~ .promo__viewPort,
.promo__inp:nth-child(2):checked ~ .promo__viewPort,
.promo__inp:nth-child(3):checked ~ .promo__viewPort,
.promo__inp:nth-child(4):checked ~ .promo__viewPort,
.promo__inp:nth-child(5):checked ~ .promo__viewPort {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.promo__inp:nth-child(1):checked ~ .promo__viewPort {
	margin-left: 0;
}
.promo__inp:nth-child(2):checked ~ .promo__viewPort {
	margin-left: -100%;
}
.promo__inp:nth-child(3):checked ~ .promo__viewPort {
	margin-left: -200%;
}
.promo__inp:nth-child(4):checked ~ .promo__viewPort {
	margin-left: -300%;
}
.promo__inp:nth-child(5):checked ~ .promo__viewPort {
	margin-left: -400%;
}
/*****************************************shares*****************************************/
.shares {
	padding-left: 20px;
}
.share__img {
	margin: 5px 20px;
	float: left;
}
.share__text {
	line-height: 18px;
}
/*********************************special-offers section*********************************/
.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #d10000;
	border-radius: 4px;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #ffffff;
	border-width: 8px;
	margin-top: -9px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #d10000;
	border-width: 9px;
	margin-top: -10px;
}
.special-offers__img {
	height: 100px;
}
.special-offers__gift {
	position: absolute;
	top: 5%;
	right: 15%;
	width: 50px;
}
.special-offers__gift__img {
	margin-top: 2px;
}
.super-discount, 
.super-price, 
.super-gift {
	position: relative;
}
.super-discount:after, 
.super-price:after, 
.super-gift:after {
	content: " ";
	display: block;
	background: url(../images/sprite_supers.png) no-repeat;
	position: absolute;
	z-index: 5;
	top: 25px;
	left: 25px;
	width: 70px;
	height: 40px;
}
.super-discount:after {
	background-position: 0 0;
}
.super-price:after {
	background-position: -70px 0;
}
.super-gift:after {
	background-position: -140px 0;
}
.special-offers {
	margin: 25px 0;
}
.special-offers__poster {
	width: 100%;
	overflow: hidden;
}
.special-offers__arrow-l-wrapper,
.special-offers__arrow-r-wrapper {
	top: 40px;
	z-index: 444;
	position: absolute;
	height: 80%;
	width: 50px;
}
.special-offers__arrow-l-wrapper {
	left: 0;
	background: -webkit-linear-gradient(left, #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
	background: -webkit-linear-gradient('to right', #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(left, #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
	background: -moz-linear-gradient('to right', #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
	background: -o-linear-gradient(left, #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
	background: -o-linear-gradient('to right', #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
	background: -ms-linear-gradient(left, #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
	background: -ms-linear-gradient('to right', #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
	background: linear-gradient('to right', #fff, #fff 60%, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, 0));
}
.special-offers__arrow-r-wrapper {
	right: 0;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
	background: -webkit-linear-gradient('to right', rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
	background: -moz-linear-gradient('to right', rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
	background: -o-linear-gradient('to right', rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
	background: -ms-linear-gradient('to right', rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
	background: linear-gradient('to right', rgba(255, 255, 255, 0), rgba(255, 255, 255, .8) 20%, #fff 40%, #fff);
}
.special-offers__container {
	position: relative;
	border: 1px solid #689cbe;
	border-radius: 5px;
	padding: 10px 15px;
	overflow: hidden;
}
.positioning {
	position: absolute;
	right: 15px;
	top: 10px;
}
.special-offers__toggle {
	padding-top: 5px;
	position: relative;
	height: 50px;
}
.special-offers__toggle__btn {
	margin: 0 10px 0 0;
	padding: 0 5px;
}
.special-offers__toggle__btn,
.special-offers__toggle__btn label {
	cursor: pointer;
}
.special-offers__toggle__container {
	position: absolute;
	top: 15px;
	z-index: 5;
}
.special-offers__inp:nth-child(1):checked ~ .special-offers__toggle .special-offers__toggle__container .special-offers__toggle__btn:nth-child(1),
.special-offers__inp:nth-child(2):checked ~ .special-offers__toggle .special-offers__toggle__container .special-offers__toggle__btn:nth-child(2),
.special-offers__inp:nth-child(3):checked ~ .special-offers__toggle .special-offers__toggle__container .special-offers__toggle__btn:nth-child(3),
.special-offers__inp:nth-child(4):checked ~ .special-offers__toggle .special-offers__toggle__container .special-offers__toggle__btn:nth-child(4) {
	border: 1px solid #689cbe;
	padding: 9px 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom:  5px solid #ffffff;
	background: -webkit-linear-gradient(bottom, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	background: -moz-linear-gradient(bottom, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	background: -o-linear-gradient(bottom, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	background: -ms-linear-gradient(bottom, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	background: linear-gradient(to top, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
}
.special-offers__viewport {
	width: 2300px;
	display: none;
	-webkit-transition: margin-left .666s;
	-moz-transition: margin-left .666s;
	-o-transition: margin-left .666s;
	transition: margin-left .666s;
}
.special-offers__pic {
	margin-top: 15px;
	width: 230px;
	float: left;
	padding: 30px 30px 10px 30px;
}
.special-offers__inp:nth-child(1):checked ~ .special-offers__container .special-offers__viewport:nth-child(1),
.special-offers__inp:nth-child(2):checked ~ .special-offers__container .special-offers__viewport:nth-child(2),
.special-offers__inp:nth-child(3):checked ~ .special-offers__container .special-offers__viewport:nth-child(3),
.special-offers__inp:nth-child(4):checked ~ .special-offers__container .special-offers__viewport:nth-child(4) {
	display: block;
}
.special-offers__buy-button {
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	padding: 0 5px;
	background: -webkit-linear-gradient(bottom, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	background: -moz-linear-gradient(bottom, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	background: -ms-linear-gradient(bottom, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	background: -o-linear-gradient(bottom, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	background: linear-gradient(to top, #ffffff 0%, #e1e1e1 40%, #ffffff 100%);
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	cursor: pointer;
}
.special-offers__buy-button__price {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
	float: left;
	font-style: italic;
	margin: 3px 0;
}
.special-offers__buy-button__icon {
	display: inline-block;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
	width: 25px;
	height: 20px;
	background: url(../images/sprite_icons_diff.png) no-repeat;
	background-position: -35px 2px;
}
.special__context-btn {
	border: 1px solid #0d4872;
	border-radius: 4px;
	height: 25px;
	width: 30px;
	background: #ffffff url("../images/sprite_main.png") no-repeat;
	background-position: -195px -75px;
	display: none;
	cursor: pointer;
}
.arrow-fefe {
	position: absolute;
	background: url(../images/sprite_arrows.png) no-repeat;
	height: 55px;
	width: 25px;
	top: 25%;
	cursor: pointer;
	z-index: 888;
}
.arrow-fefe-l-a {
	left: 5px;
	background-position: 0 -60px;
}
.arrow-fefe-l {
	left: 5px;
	background-position: 0 0;
}
.arrow-fefe-r-a {
	right: 5px;
	background-position: -25px -60px;
}
.arrow-fefe-r {
	right: 5px;
	background-position: -25px 0;
}
/**********************************manufacturers section**********************************/
.manufacturers__logo {
	margin: 20px 0;
}
.manufacturers__logo__headings {
	margin: 20px 0;
}
.manufacturers__link ul li {
	list-style-type: none;
	margin: 5px 0;
}
.img-brand {
	height: 50px;
	width: 130px;
	background-image: url(../images/sprite_brand.png);
}
.img-brand1 {
	background-position: 0 0;
}
.img-brand2 {
	background-position: -150px 0;
}
.img-brand3 {
	background-position: -295px 0;
}
.img-brand4 {
	background-position: -425px 0;
}
.img-brand5 {
	background-position: -12px -65px;
}
.img-brand6 {
	background-position: -150px -65px;
}
.img-brand7 {
	background-position: -280px -65px;
}
.img-brand8 {
	background-position: -440px -65px;
}
.img-brand9 {
	background-position: -12px 120px;
}
.img-brand10 {
	background-position: -150px 120px;
}
.img-brand11 {
	background-position: -295px 120px;
}
.img-brand12 {
	background-position: -440px 120px;
}
.img-brand13 {
	background-position: -12px 53px;
}
.img-brand14 {
	background-position: -150px 53px;
}
.img-brand15 {
	background-position: -295px 53px;
}
.img-brand16 {
	background-position: -425px 53px;
}
/*******************************articles-and-reviews section*******************************/
.articles-and-reviews {
	border-top: 1px solid #e6e6e6;
	margin: 30px 0;
	padding-top: 30px;
}
.articles-and-reviews article {
	margin: 10px 0;
	padding-right: 20px;
}
.articles__image {
	clear: both;
	display: inline-block;
	margin-right: 20px;
}
.articles__heading {
	display: inline-block;
	margin: 10px 0;
}
.articles__text {
	display: inline-block;
	line-height: 18px;
}
/******************************************media******************************************/
@media (max-width: 1199px) {
	.promo__pic__all {
		padding-right: 100px;
	}
	.articles__image {
		clear: both;
		display: inline-block;
	}
	.articles__heading {
		display: inline-block;
	}
	.articles__text {
		display: inline-block;
	}
}
@media (max-width: 999px) {
	.promo__pic {
		background-size: cover;
		height: 200px;
	}
	.promo__pic:nth-child(1) {
		background: #ffffff url("../images/slide_small.jpg") no-repeat;
		background-size: cover
	}
	.promo__pic:nth-child(2) {
		background: #ffffff url("../images/slide_small_2.jpg") no-repeat;
		background-size: cover
	}
	.promo__pic:nth-child(3) {
		background: #ffffff url("../images/slide_small_3.jpg") no-repeat;
		background-size: cover
	}
	.promo__pic:nth-child(4) {
		background: #aaaaaa;
		background-size: cover
	}
	.promo__pic:nth-child(5) {
		background: #cccccc;
		background-size: cover
	}
	.articles__image {
		float: left;
	}
	.articles__text {
		display: block;
	}
	.shares {
		margin-top: 40px;
	}
	.shares__heading {
		margin-bottom: 10px;
	}
	.special-offers__toggle__btn {
		display: none;
	}
	.special-offers__inp:nth-child(1):checked ~ .special-offers__toggle .special-offers__toggle__container .special-offers__toggle__btn:nth-child(1),
	.special-offers__inp:nth-child(2):checked ~ .special-offers__toggle .special-offers__toggle__container .special-offers__toggle__btn:nth-child(2),
	.special-offers__inp:nth-child(3):checked ~ .special-offers__toggle .special-offers__toggle__container .special-offers__toggle__btn:nth-child(3),
	.special-offers__inp:nth-child(4):checked ~ .special-offers__toggle .special-offers__toggle__container .special-offers__toggle__btn:nth-child(4) {
		display: inline;
	}
	.special__context-btn {
		margin: -5px 0 -5px 15px;
		display: inline-block;
	}
}
@media (max-width: 599px) {
	.promo__pic__all {
		padding-right: 25px;
	}
	.promo__btn-x {
		width: 50px;
		height: 25px;
	}
}