/*******************************footer*******************************/
.footer__copyrights {
	border-top: 4px #175b8e solid;
	padding-top: 20px;
}
footer nav {
	margin: 5px 0 30px 0;
}
footer nav ul li {
	margin: 0 5px;
}
.footer__social li {
	list-style-type: none;
	display: inline-block;
}
.social-icon {
	display: inline-block;
	height: 32px;
	width: 32px;
	background: url(../images/sprite_social.png) no-repeat;
}
.social-text {
	position: relative;
	top: -10px;
}
.social-icon__fb {
	background-position: 0 0;
}
.social-icon__vk {
	background-position: 0 -32px;
}
.social-icon__tw {
	background-position: 0 -64px;
}
.footer__working-hours {
	line-height: 24px;
}
.footer__pay {
	margin-top: 15px;
}
.footer__pay img {
	margin-top: 5px;
}
footer .skew-button {
	margin: 15px 0;
}
.footer__address {
	line-height: 25px;
}
.footer__act {
	line-height: 70px;
}
.OWOX__text,
.OWOX__year {
	line-height: 15px;
}
/**********************************media**********************************/
@media (max-width: 1199px) {
	.footer__social li {
		display: inline-block;
	}
}
@media (max-width: 999px) {
	.footer__social li {
		display: inline;
	}
	.OWOX {
		text-align: center;
		border-top: 1px solid #e6e6e6;
		margin-top: 20px;
		padding-top: 20px;
		margin-bottom: 40px;
	}
	.footer__social {
		text-align: center;
	}
	.footer__social li {
		margin: 0 10px;
	}
}
@media (max-width: 599px) {
	.footer__social li {
		display: block;
	}
}




