/**********************************header**********************************/
header {
	margin-top: 15px;
	background: -webkit-linear-gradient(bottom, #ffffff 0%, #eeeeee 40%, #ffffff 100%);
	background: linear-gradient(to top, #ffffff 0%, #eeeeee 40%, #ffffff 100%);
}
.header__nav ul li {
	margin: 0 5px;
}
.header__nav {
	margin: 20px 0;
}
.phone-and-search {
	padding-left: 4%;
}
.header__callback {

}
.search-form {
	width: 300px;
	height: 22px;
	padding: 1px;
	margin-top: 15px;
/*	-webkit-transform: skew(-20deg);
	transform: skew(-20deg);*/
	border-radius: 4px;
	border: 1px solid #c4c4c4;
	position: relative;
}
.search-form__input {
	width: 225px;
	border: none;
	height: 20px;
	position: absolute;
	background-color: transparent;
}
.search-form__button {
	width: 60px;
	height: 22px;
	display: inline-block;
	border-radius: 2px;
	position: absolute;
	right: 0.4%;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	background-image: -moz-linear-gradient(top, #ffffff, #c4c4c4);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c4c4));
}
.support-button {
	float: right;
	cursor: pointer;
	position: relative;
	width: 100px;
	padding-top: 50px;
	border: 1px solid #6cbe68;
	border-radius: 5px;
	background: linear-gradient(to top, #e1e1e1 0%, #ffffff 100%);
}
.support-button:hover {
	box-shadow: 0px 0px 20px 2px #6cbe68;
}
.support-button__image {
	width: 100px;
	position: absolute;
	top: -12px;
	right: -6px;
}
.support-button__point {
	position: absolute;
	right: 0;
	top: 1px;
	height: 10px;
	width: 10px;
	background: url(../images/sprite_icons_diff.png) no-repeat;
	background-position: -60px 0;
}
.log-in-and-cart {
	text-align: right;
}
.log-in {
	margin: 0 0 10px 0;
}
.log-in__icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../images/sprite_icons_diff.png) no-repeat;
	background-position: -89px 2px;
}
.log-in__link {
}
.cart__button {
	padding: 0 15px;
	float: right;
	height: 54px;
	border: 1px solid #cecece;
	border-radius: 4px;
	background: linear-gradient(to top, #f5f5f5 0%, #fffdfe 50%, #f5f5f5 100%);
	display: table;
	text-align: center;
	cursor: pointer;
}
.cart__button__text {
	display: table-cell;
	vertical-align: middle;
}
.cart__button__cart-img {
	height: 40px;
	width: 50px;
	background: url(../images/sprite_main.png) no-repeat;
	background-position: -135px -75px;
	display: table-cell;
	vertical-align: middle;
}
.cart__button__arrow-img {
	height: 20px;
	width: 25px;
	background: url(../images/sprite_main.png) no-repeat;
	background-position: -10px -60px;
	display: table-cell;
	vertical-align: middle;
}
/**************************************media**************************************/

@media (max-width: 1199px) {

}
@media (max-width: 999px) {
	.log-in__link__dis {
		display: none;
	}
}
@media (max-width: 599px) {

}







