header {
	margin-top: 15px;
	background: -webkit-linear-gradient(bottom, #ffffff 0%, #eeeeee 40%, #ffffff 100%);
	background: linear-gradient(to top, #ffffff 0%, #eeeeee 40%, #ffffff 100%);
}
header nav ul li {
	margin: 0 5px;
}
header nav {
	margin: 20px 0;
}
.search-form {
	width: 300px;
	height: 22px;
	padding: 1px;
	margin-top: 15px;
/*	-webkit-transform: skew(-20deg);
	transform: skew(-20deg);*/
	border-radius: 4px;
	border: 1px solid #c4c4c4;
	position: relative;
}
.search-form__input {
	width: 225px;
	border: none;
	height: 20px;
	position: absolute;
	background-color: transparent;
}
.search-form__button {
	width: 60px;
	height: 22px;
	display: inline-block;
	border-radius: 2px;
	position: absolute;
	right: 0.4%;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	background-image: -moz-linear-gradient(top, #ffffff, #c4c4c4);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c4c4));
}
.support-button {
	cursor: pointer;
	position: relative;
	width: 100px;
	padding-top: 50px;
	border: 1px solid #6cbe68;
	border-radius: 5px;
	background: linear-gradient(to top, #e1e1e1 0%, #ffffff 100%);
}
.support-button:hover {
	box-shadow: 0px 0px 20px 2px #6cbe68;
}
.support-button__image {
	width: 100px;
	position: absolute;
	top: -15px;
	right: -6px;
}
.support-button__point {
	position: absolute;
	right: 0;
	top: 1px;
	height: 10px;
	width: 10px;
	background: url(../images/sprite_icons_diff.png) no-repeat;
	background-position: -60px 0;
}
.log-in {
	padding: 2px 0;
}
.log-in__icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../images/sprite_icons_diff.png) no-repeat;
	background-position: -89px 2px;
}
.log-in__link {
}
/**/
.menu {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #186ca3; /*for old browsers*/
	background: -webkit-linear-gradient(bottom, #13689e 0%, #044978 25%, #186ca3 100%);
	background: linear-gradient(to top, #13689e 0%, #044978 25%, #186ca3 100%);
	border-radius: 5px;
	color: #ffffff;
	padding: 0 4px;
	border-top: 3px groove #5e9bc2;
	border-bottom: 3px groove #5e9bc2;
}
.dropdown {
	width: 16.6666667%;
	display: inline-block;
	position: relative;
}
.dropdown__header {
	color: inherit;
	padding: 15px 0;
	padding-right: 25%;
	padding-left: 15px;
	display: block;
	text-decoration: none;
	background: url("../images/arrow_menu.png") no-repeat;
/*	background-position: 160px 25px;*/
	position: relative;
}
.dropdown:hover .dropdown__header{
	color: #105a8f;
	text-decoration: underline;
	box-shadow: 0px 7px 0px 0px #ffffff, 0px 0px 0px 7px #71a2c2;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	z-index: 99;
}
.fulldrop,
.fulldrop-right {
	visibility: hidden;
	position: absolute;
	list-style: none;
	top: 66px;
	width: 400%;
	background-color: #ffffff;
	text-align: left;
	z-index: 66;
	overflow: hidden;
	border: solid 7px #71a2c2; 
	border-radius: 7px;
}
.fulldrop {
	left: -7px;
}
.fulldrop-right {
	right: -7px;
}
.dropdown:hover {
	background-color: #ffffff;
}
.dropdown:hover .fulldrop,
.dropdown:hover .fulldrop-right {
	opacity: 1;
	visibility: visible;
}
.column {
	width: 25%;
	display: block;
	float: left;
	color: #ffffff;
}
.column ul {
	padding: 0;
	margin: 0;
}
.column ul li {
	list-style: none;
}










/*media*/

@media (min-width: 400px) {

}

@media (min-width: 600px) {
	.log-in__link__dis {
		display: none;
	}
}

@media (min-width: 1000px) {
	.dropdown__header {
		background-position: 140px 25px;
	}
}

@media (min-width: 1200px) {
	.dropdown__header {
		background-position: 160px 25px;
	}
}

