/***************************************menu***************************************/
.menu {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #186ca3; /*for old browsers*/
	background: -webkit-linear-gradient(bottom, #13689e 0%, #044978 25%, #186ca3 100%);
	background: linear-gradient(to top, #13689e 0%, #044978 25%, #186ca3 100%);
	border-radius: 8px;
	color: #ffffff;
	padding: 0 4px;
	border-top: 2px groove #5e9bc2;
	border-bottom: 2px groove #5e9bc2;
}
.menu__context-btn {
	margin-top: -15px;
	border: 1px solid #0d4872;
	border-radius: 4px;
	height: 25px;
	width: 30px;
	background: #ffffff url("../images/sprite_main.png") no-repeat;
	background-position: -195px -75px;
	float: right;
	cursor: pointer;
	position: relative;
	z-index: 55;
}

.menu .selection {
	
}
.menu .selection select {
	
}
.dropdown {
	width: 16.6666667%;
	display: inline-block;
	position: relative;
	border-left: 2px groove #5e9bc2
}

.dropdown__header {
	color: inherit;
	padding: 15px 0;
	padding-right: 25%;
	padding-left: 15px;
	display: block;
	text-decoration: none;
	background: url("../images/arrow_menu.png") no-repeat;
	background-position: 160px 25px;
	position: relative;

}
.dropdown:first-of-type {
	border-left: none;
}
.dropdown:hover .dropdown__header{
	color: #105a8f;
	text-decoration: underline;
	box-shadow: 0px 7px 0px 0px #ffffff, 0px 0px 0px 7px #71a2c2;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	z-index: 99;
}
.fulldrop,
.fulldrop-right {
	visibility: hidden;
	position: absolute;
	list-style: none;
	top: 64px;
	width: 400%;
	background-color: #ffffff;
	text-align: left;
	z-index: 54;
	overflow: hidden;
	border: solid 7px #71a2c2; 
	border-radius: 7px;
}
.fulldrop {
	left: -7px;
}
.fulldrop-right {
	right: -7px;
}
.fulldrop__column {
	padding: 10px 35px;
}
.column__heading {
	margin: 10px 0;
}
.fulldrop__column ul li {
	margin: 2px 0;
}
.dropdown:hover {
	background-color: #ffffff;
}
.dropdown:hover .fulldrop,
.dropdown:hover .fulldrop-right {
	opacity: 1;
	visibility: visible;
}
.fulldrop__column {
	width: 25%;
	display: block;
	float: left;
	color: #ffffff;
}
.fulldrop__column ul {
	padding: 0;
	margin: 0;
}
.fulldrop__column ul li {
	list-style: none;
}

/**************************************media**************************************/

@media (max-width: 1199px) {
	.dropdown__header {
		background-position: 140px 25px;
	}
}
@media (max-width: 999px) {
	.dropdown {
		position: static;
	}
	.dropdown__header {
		display: none;
	}
	.fulldrop,
	.fulldrop-right {
		visibility: visible;
		display: none;
		top: -5px;
		left: 0;
		width: 100%;
	}
	.fulldrop__column {
		padding-left: 5px;
		padding-right: 5px;
	}
	.menu {
		padding: 0 8px;
		position: relative;
		height: 35px;
	}
	.menu .selection select {
		float: left;
		margin-top: -13px;
	}
	.column__heading {
		margin-top: 20px;
	}
}
@media (max-width: 599px) {

}
